<br>

<% if current_user.admin? %>
  <div class="row">

    <ul class="admin-list small-centered">
      <strong>Administrators:</strong>

      <% @admins.each do |admin| %>
        <li><%= admin.username%> | <%= admin.email%></li>
      <% end %>

    </ul>

  </div>
<hr>
<% end %>


<ul class="member-list">

  <div class="row">
    <div class="small-centered columns event-description text-center">
    <h4>Members:</h4>

      <div class="user">
        <hr>
        <% @users.each do |user| %>

              <div class="text-center">
                <%- if user.profile_photo? -%>
                  <%= image_tag(user.profile_photo, size: "200x200") %>
                <%- else -%>
                  <%= image_tag("defaultavatar.jpg", size: "200x200")%>
                <%- end -%>
      				</div>

              <strong><%= user.username %> </strong>
              | <%= link_to "Add Friend", friendships_path(friend_id: user), method: :post %>

              <% if current_user.admin? %>
                | <%= link_to "Delete This User", user_path(user), method: :delete %>
                | <%= link_to "Make Admin", user_path(user), method: :put %>
              <% end %>

        <% end %>
      </div>
    </div>
  </div>
</ul>
<br>
<br>
<br>
<br>
<br>
<br>
