<!DOCTYPE html>
<html>
<head>
  <title>Live</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="js/vendor/jquery.js"></script>
  <script src="js/foundation/foundation.js"></script>
  <script src="js/foundation/foundation.orbit.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Live</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
          <li><%= link_to 'Create Event', new_event_path %></li>

        <%- if current_user -%>
          <%- if current_user.role == "admin" -%>
            <li><%= link_to 'Admin', user_registration_path %></li>
          <% end %>

          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'Profile', edit_user_registration_path %></li>
          <li class="profile-photo"><%= link_to image_tag(current_user.profile_photo), edit_user_registration_path %></li>

        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>

      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %> text-center">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>

<footer>
  <div class="footer text-center"> copyright Jacob Giberson 2015</div>
</footer>
</html>
