<!DOCTYPE html>
<html>
<head>
  <title>Live</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Live</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
        <div class="row collapse columns small-6">
          <%= render "layouts/search" %>
        </div>

      <ul class="right">

          <li><%= link_to 'Create Event', new_event_path %></li>

          <%- if current_user -%>
            <li><%= link_to 'Find Friends', users_path %></li>

            <li><%= link_to 'Sign Out', destroy_user_session_path,
                    method: :delete %></li>
            <li class="has-dropdown">
              <a href="#">My Account</a>
              <ul class="dropdown">
                <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                <li><%= link_to 'My Profile', user_path(current_user) %></li>
              </ul>
            </li>

            <%- if current_user.profile_photo? -%>
              <li class="profile-photo hide-for-small"><%= link_to image_tag(current_user.profile_photo, class: "photo"),
                user_path(current_user) %>
              </li>
            <%- else -%>
              <li class="profile-photo hide-for-small"><%= link_to image_tag("defaultavatar.jpg", class: "photo"), user_path(current_user) %>
              </li>
            <%- end -%>

          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %> text-center error-explanation columns">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>


</body>
<br>
<footer>
  <div class="footer columns text-center">copyright Jacob Giberson 2015</div>
</footer>
</html>
